*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  background-color: #242630;
  color: #fff;
}

.restaurants{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly ;
  font-size: 18px;

}

.Card{
 margin-bottom: 1rem;
}

.row .card{ 
    text-align: center;
    border: none;
 
}

.btn {
  margin: 10px 5px;
}

.card-body{
  padding: 0;
  margin-bottom: 1rem;
}

.title{
  font-size: 18px;
  width: auto;
  height: 60px;
}

h5, .card-header{
  margin: 1rem;
}